@import "./variables.scss";

.button {
  border: solid transparent;
  border-radius: 12px;
  padding: 10px;
  outline: transparent;
  transition: 0.3s;
  transform: scale(1);
  background-color: $white;

  &:hover:not(:disabled) {
    background-color: $primary;
    transform: scale(1.2);
    cursor: pointer;
  }

  &:active:not(:disabled) {
    background-color: $secondary;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}
