@import "./variables.scss";

.input {
  border: solid transparent;
  border-radius: 12px;
  padding: 10px;
  outline: transparent;
  transition: 0.3s;
  transform: scale(1);
  background-color: $white;
  display: block;
  margin: 20px 0px 20px 0px;
  user-select: auto;
}
