.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(71, 71, 71);
}

main {
  padding: 4rem 5.5rem;
  transform: rotate(12deg);
  border-radius: 12%;
  background-color: aliceblue;
  font-size: 1.5rem;
}

main > div {
  border-radius: 10%;
  color: white;
  transform: rotate(-12deg);
  background-color: rgb(97, 97, 97);
  padding: 4rem 5.5rem;
}

main input,
main button {
    border: solid transparent;
    border-radius: 12px;
    padding: 10px;
    outline: transparent;
    transition: .3s;
    transform: scale(1);
    background-color: white;
}

main button:hover {
    background-color: aliceblue;
    transform: scale(1.2);
}

main button:active {
    background-color: aquamarine;
}